.header-login {
  align-items: center;
  background: #41197f;
  display: flex;
  flex-direction: column;
  height: 400px;
}

.login-logo {
  height: 170px;
  margin-top: 40px;
  width: 175px;
}

.login-tomate {
  margin-top: 40px;
}

.login-form {
  align-items: center;
  flex-direction: column;
  margin: auto;
  margin-top: 60px;
  width: 75%;
}

.login-title {
  color: rgb(65, 25, 127);
  font-size: 20px;
  font-style: italic;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 15px;
}

.login-input {
  border: 0.5px solid rgb(65, 25, 127);
  border-radius: 5px;
  height: 32px;
  margin-bottom: 0.5rem;
  padding: 0 10px;
  width: 100%;
}

.login-input::placeholder {
  color: rgb(65, 25, 127);
  font-size: 14px;
  font-weight: 300;
  line-height: 14px;
}

.login-input:focus {
  border: 1px solid rgb(252, 196, 54);
  color: rgb(65, 25, 127);
  outline: rgb(252, 196, 54);
}

.login-button {
  background: rgb(252, 196, 54);
  border: none;
  border-radius: 5px;
  color: white;
  height: 32px;
  width: 100%;
}

.login-button:disabled {
  background: rgba(252, 196, 54, 0.5);
}
